*{
    margin:0px;
}
.navbar{
    background-color:black ;
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-around;
}
.search input{
 height: 30px;
 width: 550px;
 position: relative;
 right:120px;
}
.options select{
    background-color:black;
    color: gainsboro;
    border:0px;
    transition: .5s;
}
.options select:hover{
color:white;
transition:.5s;

}
.options button{
    background-color:red;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius: 3px;
}
.navlinks{
    background-color: black;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}
.navlinks a{
    color:gainsboro;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0px 5px ;
}
sup{
    color:crimson;
    font-weight: bold;
}
#icc{
    height: 17px;
    width: 200px;
}
.content1{
    background-color: whitesmoke;
}
.content1 img{ 
    height: 230px;
    width: 1100px;
    margin: 5px;
    border-radius: 5px;
}
.content2{
justify-content: space-between;
display: flex;
padding: 40px 70px 0px 70px;
}
.content2 a{
    text-decoration: none;
    color:crimson;
}
.content3 {
    display: flex;
    justify-content: space-evenly;

}
.section img{
    height: 370px;
    width: 220px;
    border-radius: 10px;
    position: relative;
    top:80px;
    transition: 2s;
}
.section img:hover{
    top: 0px;

}
.section{
    width: 220px;
}
#icon{
    height:25px;
    width: 25px;
    position: relative;
    z-index: 1;
    right: 90px;
    top: 10px;
}
.search  input::placeholder{
        transform: translateX(35px)
    }
